@charset "UTF-8";
@import url("../sass/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: #F5FAFE;
}

a {
  outline: none;
}

/*Custome Title*/
[data-title] {
  opacity: 1;
  outline: none;
  position: relative;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 0.3rem;
  background: #fff;
  color: coral;
  font-size: 0.9rem;
  -webkit-box-shadow: 3px 1px 15px 2px #9ecdff;
          box-shadow: 3px 1px 15px 2px #9ecdff;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

[data-title]:hover::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0.5rem;
  display: inline-block;
  color: #fff;
  border: 0.6rem solid transparent;
  border-bottom: 0.6rem solid #fff;
}

[data1-title] {
  opacity: 1;
  outline: none;
  position: relative;
}

[data1-title]:hover::before {
  content: attr(data1-title);
  position: absolute;
  bottom: -4.2rem;
  left: -0.5rem;
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  background: #fff;
  color: coral;
  font-size: 0.9rem;
  -webkit-box-shadow: 3px 1px 15px 2px #9ecdff;
          box-shadow: 3px 1px 15px 2px #9ecdff;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

[data1-title]:hover::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0.4rem;
  display: inline-block;
  color: #fff;
  border: 0.4rem solid transparent;
  border-bottom: 0.4rem solid #fff;
}

/*Custome Title*/
/*-----Scroll-----*/
::-webkit-scrollbar {
  max-width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(#F5FAFE), to(white));
  background: linear-gradient(white, #F5FAFE, white);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5FAFE), color-stop(#F5FAFE), to(#F5FAFE));
  background: linear-gradient(#F5FAFE, #F5FAFE, #F5FAFE);
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#cde8f8), to(#4488af));
  background: linear-gradient(#cde8f8, #4488af);
}

/*-----End Scroll-----*/
/*Sử dụng cho cả trang*/
::-moz-selection {
  color: #051937;
  background-color: #051937;
}
::selection {
  color: #051937;
  background-color: #051937;
}

::-webkit-selection {
  color: transparent;
  background-color: #051937;
}

::-moz-selection {
  color: transparent;
  background-color: #051937;
}

/*--------------Blacked outn-------------*/
/*-----Start Scroll go up-----*/
#btn__go-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background: #F5FAFE;
  border-radius: 2.5rem;
  outline: none;
  color: #051937;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 3px 1px 15px 2px #9ecdff;
          box-shadow: 3px 1px 15px 2px #9ecdff;
}

#btn__go-up:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #E9E4F0;
  background: #051937;
}

/*-----End Scroll go up-----*/
/*-------------Component Pages--------------*/
.container {
  position: relative;
  width: 100%;
  max-width: 1525px;
  margin: 0 auto;
}

/*----Banner website*/
.coral {
  color: coral;
}

.logo__responsive {
  display: none;
}

.banner {
  width: 100%;
  max-width: 1525px;
  height: 220px;
  margin: 0 auto;
  background: url("../images/banner.jpg") rgba(187, 209, 209, 0.8);
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
  background-image: 100% 100%;
  background-blend-mode: multiply;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner-content--description {
  color: #fff;
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 1px;
}
.banner-content--title {
  text-shadow: 2px 2px 2px #F5FAFE;
  color: coral;
  text-transform: capitalize;
  font-size: 3rem;
  margin-right: 4rem;
  text-align: right;
  font-family: "Satisfy", cursive;
  font-weight: 700;
  letter-spacing: 2px;
}

/*----Banner website*/
/*---------------Start Menu Website-----------------*/
.menu__website {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10000000000000002000;
  background: #fff;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  opacity: 0.9;
  border-radius: 0.5rem;
  -webkit-box-shadow: 3px 1px 15px 2px #edf8ff;
          box-shadow: 3px 1px 15px 2px #edf8ff;
}
.menu__website .container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 4rem;
  width: 100%;
  position: relative;
}
.menu__website a.logo__page {
  margin-left: 3rem;
  font-family: "Satisfy", cursive;
  text-transform: capitalize;
  font-size: 1.7rem;
  color: #051937;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
}
.menu__website a.logo__page:hover {
  color: c__pr;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu__website a.logo__page::after {
  content: "";
  display: block;
  width: 0;
  bottom: 0%;
  left: 0;
  position: relative;
  height: 0.1rem;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transform: translateY(-50%) skew(0);
          transform: translateY(-50%) skew(0);
  background: coral;
  -webkit-transform-origin: 0% -100%;
          transform-origin: 0% -100%;
}
.menu__website a.logo__page:hover::after {
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transform: translateY(-50%) skewX(1);
          transform: translateY(-50%) skewX(1);
}
.menu__website--main {
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2rem;
  position: relative;
}
.menu__website--li {
  text-transform: capitalize;
  margin-right: 0.8rem;
}
.menu__website--li:last-child {
  margin-right: 0;
}
.menu__website--link {
  text-transform: uppercase;
  position: relative;
  display: block;
  text-align: center;
  padding: 0.8rem 1rem;
  height: 100%;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.1rem;
  color: #051937;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  letter-spacing: 0.05rem;
  z-index: 1;
  font-weight: normal;
}
.menu__website--link:hover {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.menu__website--link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid coral;
  border-bottom: 1px solid coral;
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
  border-radius: 0.1rem;
}
.menu__website--link:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}
.menu__website--link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 2px;
  bottom: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 0.2rem;
  z-index: -1;
  -webkit-box-shadow: 3px 1px 15px 2px #abe3ff;
          box-shadow: 3px 1px 15px 2px #abe3ff;
}
.menu__website--link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.menu__website--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu__website--list a.menu__list--icon {
  z-index: 999;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 0.3rem;
  font-size: 1.2rem;
  color: #e4f7f7;
  font-weight: normal;
  -webkit-box-shadow: 3px 1px 15px 2px #d3e0ee;
          box-shadow: 3px 1px 15px 2px #d3e0ee;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.menu__website--list a.menu__list--icon:first-child:hover {
  color: #3b5998;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.menu__website--list a.menu__list--icon:nth-child(2):hover {
  color: #2867B2;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.menu__website--list a.menu__list--icon:nth-child(3):hover {
  color: #252e38;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.menu__website--list a.menu__list--icon:nth-child(4):hover {
  color: #ea4c89;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.menu__website--list a.menu__list--icon:last-child {
  opacity: 0;
  visibility: hidden;
}

/*---------------End Menu Website-----------------*/
/*-------Search--------*/
.search {
  padding-right: 4rem;
  width: 100%;
  background: #fff;
  height: 4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0 0 0.5rem 0.5rem;
}
.search__content {
  margin-left: 15rem;
  height: 3rem;
  background: #4488af;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search__content:hover .search__content--input {
  width: 300px;
  padding: 0 1.5rem;
}
.search__content:hover .search__content--btn {
  background: #F5FAFE;
}
.search__content--input {
  outline: none;
  border: none;
  background: none;
  color: #fff;
  padding: 0;
  font-size: 0.9rem;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
}
.search__content--input::-webkit-input-placeholder {
  color: #fff;
}
.search__content--input::-moz-placeholder {
  color: #fff;
}
.search__content--input:-ms-input-placeholder {
  color: #fff;
}
.search__content--input::-ms-input-placeholder {
  color: #fff;
}
.search__content--input::placeholder {
  color: #fff;
}
.search__content--btn {
  font-size: 1.1rem;
  color: #4488af;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 3px 1px 15px 2px #d3e0ee;
          box-shadow: 3px 1px 15px 2px #d3e0ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*-------Search--------*/
/* popup */
.page {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  /* * demo page * */
}
.page__container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  z-index: 10000000000000002000000;
}
.page .popup {
  width: 100%;
  min-height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  background: #000;
  color: black;
  opacity: 0.9;
}
.page .popup::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #F5FAFE;
  position: fixed;
  left: 0;
  top: 50%;
  will-change: height, top;
  -webkit-animation: open-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) 0.65s both;
          animation: open-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) 0.65s both;
}
.page .popup::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #4488af;
  will-change: width, opacity;
  -webkit-animation: line-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
          animation: line-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.page .popup__block {
  overflow: auto;
  width: 800px;
  overflow: hidden;
  border-radius: 1rem;
  height: calc(90vh - 40px);
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: auto;
  -webkit-animation: fade 0.5s ease-out 1.3s both;
          animation: fade 0.5s ease-out 1.3s both;
  -webkit-box-shadow: 3px 1px 15px 2px #bcdeff;
          box-shadow: 3px 1px 15px 2px #bcdeff;
}
.page .popup__titleh1 {
  color: #0c6298;
  font-family: "Satisfy", cursive;
  font-size: 3.2rem;
  padding-left: 0.5rem;
  letter-spacing: 5px;
}
.page .popup__title {
  font-size: 1.15rem;
  line-height: 2rem;
  margin: 1rem 0 0.5rem 0;
  letter-spacing: 0.1rem;
}
.page .popup__title strong {
  font-weight: 500;
  color: #e04545;
}
.page .popup__close {
  width: 1.8rem;
  height: 1.8rem;
  text-indent: -9999px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0c6298;
  border-radius: 50%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}
.page .popup__close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.page #popup-article:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@-webkit-keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }
  99% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }
  99% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }
  100% {
    height: 100vh;
    top: 0;
  }
}
@keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }
  100% {
    height: 100vh;
    top: 0;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page .open-popup {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  border: 1px solid;
}

/*-----------------popup-------------*/
/*------------------------------------------------*/
.menu_responsive {
  display: none;
}

/*---Menu__responsive---*/
.wrapper__responsive {
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999;
  background: #4488af;
  -webkit-clip-path: circle(25px at calc(100% - 45px) 45px);
          clip-path: circle(25px at calc(100% - 45px) 45px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*----*/
  /*----*/
}
.wrapper__responsive--ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper__responsive--li {
  margin: 1.5rem 0;
}
.wrapper__responsive--link {
  border-radius: 0.5rem;
  text-transform: uppercase;
  position: relative;
  display: block;
  text-align: center;
  padding: 0.8rem 1.5rem;
  height: 100%;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  letter-spacing: 0.1rem;
  z-index: 1;
  font-weight: normal;
}
.wrapper__responsive--link:hover {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: #051937;
}
.wrapper__responsive--link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid coral;
  border-bottom: 1px solid coral;
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
  border-radius: 0.1rem;
}
.wrapper__responsive--link:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}
.wrapper__responsive--link::after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 2px;
  bottom: 2px;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 0.2rem;
  z-index: -1;
  -webkit-box-shadow: 3px 1px 15px 2px #abe3ff;
          box-shadow: 3px 1px 15px 2px #abe3ff;
}
.wrapper__responsive--link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#active:checked ~ .wrapper__responsive {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
}

.menu-btn {
  -webkit-box-shadow: 3px 1px 15px 2px #bcdeff;
          box-shadow: 3px 1px 15px 2px #bcdeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 20px;
  background: #fff;
  color: #4488af;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9999999999;
}

#active:checked ~ .menu-btn {
  color: #4488af;
  background: #fff;
}

#active:checked ~ .menu-btn i:before {
  content: "";
}

input[type=checkbox] {
  display: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
/*---Menu__responsive---*/
/*------main------*/
.con_pad {
  overflow: hidden;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  padding: 1rem;
  -webkit-box-shadow: 3px 1px 15px 2px #e6f0f5;
          box-shadow: 3px 1px 15px 2px #e6f0f5;
  background: #fff;
  border-radius: 1rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid--title {
  position: relative;
  white-space: nowrap;
  font-family: "Satisfy", cursive;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #4488af;
  background: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  -webkit-box-shadow: 3px 1px 15px 2px #ecf1f3;
          box-shadow: 3px 1px 15px 2px #ecf1f3;
  margin-bottom: 2rem;
}
.grid--title::after {
  content: "";
  position: absolute;
  width: 165%;
  left: -160%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 0.5px;
  background: coral;
}
.grid--title::before {
  content: "";
  position: absolute;
  width: 165%;
  right: -160%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 0.5px;
  background: coral;
}
.grid__page {
  display: grid;
  /*---grid-template-columns: column-size column-size....;----*/
  /*---grid-template-areas : dùng cho phần tử cha */
  /*---grid-area : dùng cho phần tử con */
  /*
      "h1 h1 h2 h3"
      "h4 h5 h2 h3"
      "h4 h5 h6 h6"
  */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 100px 350px;
  grid-gap: 20px;
  grid-template-areas: "image1 image1 image2 image3" "image4 image5 image2 image3" "image4 image5 image6 image6";
}
.grid__page--items {
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 1px 15px 2px #e6f0f5;
          box-shadow: 3px 1px 15px 2px #e6f0f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*--span2--*/
}
.grid__page--items .grid-images {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 1rem;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid__page--items:first-child {
  grid-area: image1;
}
.grid__page--items:nth-child(2) {
  grid-area: image2;
}
.grid__page--items:nth-child(3) {
  grid-area: image3;
}
.grid__page--items:nth-child(4) {
  grid-area: image4;
}
.grid__page--items:nth-child(5) {
  grid-area: image5;
}
.grid__page--items:last-child {
  grid-area: image6;
}
.grid__page--items .grid-content {
  color: #051937;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.grid__page--items .grid-btn {
  font-weight: 500;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: #fff;
  padding: 0.8rem 1rem;
  -webkit-box-shadow: 3px 1px 15px 2px #e6f0f5;
          box-shadow: 3px 1px 15px 2px #e6f0f5;
  border-radius: 2rem;
  color: #051937;
  font-size: 1rem;
  letter-spacing: 1px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
}
.grid__page--items .grid-btn:hover {
  color: #051937;
  background: #F5FAFE;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.grid__page--items:hover .grid-btn {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  opacity: 1;
  visibility: visible;
}
.grid__page--items .grid-title {
  white-space: nowrap;
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  letter-spacing: 1px;
  color: #fff;
  font-size: 2.2rem;
  font-family: "Satisfy", cursive;
  text-transform: capitalize;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.grid__page--items:hover .grid-title {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
  visibility: visible;
}

/*------main------*/
/*-----------Slider-----------*/
.slider {
  height: 550px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.slider__nav {
  width: 18px;
  height: 18px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  background-color: #4488af;
  outline-offset: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-box-shadow: 3px 1px 15px 2px #edf8ff;
          box-shadow: 3px 1px 15px 2px #edf8ff;
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  padding-bottom: 2rem;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-flow: column nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__image {
  font-size: 4rem;
  color: #4488af;
}
.slider__caption {
  color: #4488af;
  font-weight: 550;
  letter-spacing: 2px;
  font-size: 2.1rem;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  letter-spacing: 1px;
  color: #051937;
  margin-bottom: 4rem;
  max-width: 350px;
  line-height: 2rem;
}

@-webkit-keyframes check {
  50% {
    outline-color: #fff;
    -webkit-box-shadow: 0 0 0 12px #F5FAFE, 0 0 0 36px rgba(248, 170, 97, 0.2);
            box-shadow: 0 0 0 12px #F5FAFE, 0 0 0 36px rgba(248, 170, 97, 0.2);
  }
  100% {
    outline-color: #051937;
    -webkit-box-shadow: 0 0 0 0 #F5FAFE, 0 0 0 0 rgba(248, 170, 97, 0);
            box-shadow: 0 0 0 0 #F5FAFE, 0 0 0 0 rgba(248, 170, 97, 0);
  }
}
@keyframes check {
  50% {
    outline-color: #fff;
    -webkit-box-shadow: 0 0 0 12px #F5FAFE, 0 0 0 36px rgba(248, 170, 97, 0.2);
            box-shadow: 0 0 0 12px #F5FAFE, 0 0 0 36px rgba(248, 170, 97, 0.2);
  }
  100% {
    outline-color: #051937;
    -webkit-box-shadow: 0 0 0 0 #F5FAFE, 0 0 0 0 rgba(248, 170, 97, 0);
            box-shadow: 0 0 0 0 #F5FAFE, 0 0 0 0 rgba(248, 170, 97, 0);
  }
}
/*-----------Slider-----------*/
/*---------------Footer-----------------*/
.footer {
  background: #051937;
  color: #fff;
  text-align: center;
  line-height: 3rem;
}
.footer-title {
  position: relative;
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
  padding-top: 1.5rem;
  letter-spacing: 0.5rem;
}
.footer-title::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  display: block;
  background: #fff;
  top: 70%;
  left: 0;
}
.footer-title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  display: block;
  background: #fff;
  top: 70%;
  right: 0;
}
.footer-description {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}
.footer-description::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 4rem;
  display: block;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
}
.footer-list {
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.footer-list--link {
  color: #fff;
  margin: 1rem;
  font-size: 1.7rem;
}
.footer-list--link:hover {
  color: #F5FAFE;
}
.footer-email {
  border: 1px solid #fff;
  padding: 0.8rem 1rem;
  color: #fff;
  border-radius: 0.3rem;
}
.footer-email:hover {
  color: #F5FAFE;
}
.footer-copy {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  font-family: "Satisfy", cursive;
}

/*---------------Footer-----------------*/
@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
    min-height: 100vh;
  }

  .container {
    width: 100%;
    max-width: 1024px;
  }

  .con_pad {
    width: 100%;
    max-width: 1024px;
  }

  .menu_responsive {
    display: block;
  }

  .menu__website {
    display: none;
  }

  .logo__responsive {
    display: block;
    background: #fff;
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo__responsive--link {
    color: #4488af;
    font-family: "Satisfy", cursive;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
  }

  .banner-content--description {
    font-size: 1.6rem;
    padding: 2rem 0 0 2rem;
  }
  .banner-content--title {
    text-shadow: none;
    color: #fff;
    font-size: 2.3rem;
  }

  .grid {
    width: 98%;
    padding: 1rem;
  }
  .grid--title::after {
    width: 120%;
    left: -115%;
  }
  .grid--title::before {
    width: 120%;
    left: 95%;
  }
  .grid__page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-template-rows: repeat(3, 500px);
    grid-gap: 30px;
    grid-template-areas: "image1 image1 image2 image2" "image3 image3 image4 image4" "image5 image5 image6 image6";
  }
  .grid__page--items {
    width: 100%;
  }
  .grid__page--items .grid-images {
    height: 335px;
  }
  .grid__page--items .grid-content {
    font-size: 1.1rem;
    max-height: 9rem;
    letter-spacing: 1px;
    /*Hiển thị số dòng mong muốn*/
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-all;
    overflow-wrap: break-word;
  }
  .grid__page--items .grid-title {
    top: 11rem;
    left: 5rem;
  }
  .grid__page--items .grid-btn {
    top: 15rem;
    right: 60%;
  }

  .footer-title {
    font-family: "Satisfy", cursive;
    font-size: 2.4rem;
    padding-top: 2rem;
    letter-spacing: 0.5rem;
  }
  .footer-title::before {
    width: 34%;
    left: 4%;
  }
  .footer-title::after {
    width: 35%;
    right: 4%;
  }
  .footer-email {
    padding: 0.6rem 0.9rem;
  }
  .footer-copy {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    min-height: 100vh;
  }

  .container {
    width: 100%;
    max-width: 768px;
  }

  .con_pad {
    width: 100%;
    max-width: 768px;
  }

  .menu_responsive {
    display: block;
    width: 100%;
  }

  .menu__website {
    display: none;
  }

  .logo__responsive {
    display: block;
    background: #fff;
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo__responsive--link {
    color: #4488af;
    font-family: "Satisfy", cursive;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
  }

  .banner-content--description {
    font-size: 1.4rem;
    padding: 3rem 0 0 2rem;
  }
  .banner-content--title {
    color: #fff;
    font-size: 2.3rem;
  }

  .page__container {
    max-width: 768px;
  }
  .page .popup__block {
    width: 700px;
  }
  .page .popup__titleh1 {
    display: inline-block;
    font-family: "Satisfy", cursive;
    font-size: 2.8rem;
    margin-left: 2rem;
    margin-top: 3rem;
    letter-spacing: 5px;
  }
  .page .popup__title {
    padding-left: 2rem;
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .grid {
    width: 98%;
    padding: 2rem;
  }
  .grid--title::after {
    width: 75%;
    left: -70%;
  }
  .grid--title::before {
    width: 75%;
    left: 95%;
  }
  .grid__page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-template-rows: repeat(3, 500px);
    grid-gap: 30px;
    grid-template-areas: "image1 image1 image2 image2" "image3 image3 image4 image4" "image5 image5 image6 image6";
  }
  .grid__page--items {
    width: 100%;
  }
  .grid__page--items .grid-images {
    height: 335px;
  }
  .grid__page--items .grid-content {
    font-size: 1.1rem;
    max-height: 9rem;
    letter-spacing: 1px;
    /*Hiển thị số dòng mong muốn*/
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*Hiển thị số dòng mong muốn*/
    word-wrap: break-all;
    overflow-wrap: break-word;
    /*chỉnh kiểu chữ hiển thị , nghiêng == chiều*/
  }
  .grid__page--items .grid-title {
    opacity: 1;
    visibility: visible;
    top: 10rem;
    left: 3rem;
  }
  .grid__page--items .grid-btn {
    opacity: 1;
    visibility: visible;
    top: 15rem;
    right: 50%;
  }
  .grid__page--items .grid-btn:active {
    background: #F5FAFE;
    -webkit-transition: ease 1s;
    transition: ease 1s;
  }

  .footer-title {
    font-family: "Satisfy", cursive;
    font-size: 2.4rem;
    padding-top: 2rem;
    letter-spacing: 0.5rem;
  }
  .footer-title::before {
    width: 29%;
    top: 70%;
    left: 5%;
  }
  .footer-title::after {
    width: 30%;
    top: 70%;
    right: 5%;
  }
  .footer-email {
    padding: 0.6rem 0.9rem;
  }
  .footer-copy {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    min-height: 100vh;
  }

  .container {
    width: 100%;
    max-width: 500px;
  }

  .con_pad {
    width: 100%;
    max-width: 500px;
  }

  .banner-content--description {
    font-size: 1.3rem;
  }
  .banner-content--title {
    font-size: 2rem;
  }

  .logo__responsive {
    height: 5rem;
  }
  .logo__responsive--link {
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
  }

  .page__container {
    max-width: 500px;
  }
  .page .popup__block {
    width: 470px;
  }
  .page .popup__titleh1 {
    display: inline-block;
    font-family: "Satisfy", cursive;
    font-size: 2.7rem;
    margin-left: 1.5rem;
    margin-top: 3rem;
    letter-spacing: 5px;
  }
  .page .popup__title {
    padding-left: 1.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .grid {
    width: 100%;
    padding: 1rem;
  }
  .grid__page {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas: "image1 image1" "image2 image2" "image3 image3" "image4 image4" "image5 image5" "image6 image6";
  }
  .grid__page--items .grid-images {
    height: 350px;
  }
  .grid__page--items .grid-content {
    font-size: 1.2rem;
    max-height: 8rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .grid__page--items .grid-title {
    top: 10rem;
    left: 5rem;
    font-size: 2.6rem;
  }
  .grid__page--items .grid-btn {
    top: 15rem;
    right: 50%;
    padding: 0.8rem 1.7rem;
    font-size: 1.2rem;
  }

  .footer-title {
    font-family: "Satisfy", cursive;
    font-size: 2.4rem;
    padding-top: 2rem;
    letter-spacing: 0.5rem;
  }
  .footer-title::before {
    width: 25%;
    left: 0;
  }
  .footer-title::after {
    width: 27%;
    right: 0;
  }
}
@media only screen and (max-width: 380px) {
  body {
    width: 100%;
    min-height: 100vh;
  }

  .container {
    width: 100%;
    max-width: 380px;
  }

  .con_pad {
    width: 100%;
    max-width: 380px;
  }

  .banner-content--description {
    padding-right: 2rem;
    font-size: 1.4rem;
  }
  .banner-content--title {
    font-size: 2rem;
    padding-left: 1.6rem;
  }

  .grid__page--items .grid-title {
    left: 2rem;
    font-size: 2.7rem;
  }

  .footer-title {
    font-size: 2.5rem;
  }
  .footer-title::before {
    width: 17%;
    left: 0;
  }
  .footer-title::after {
    width: 20%;
    right: 0;
  }
}/*# sourceMappingURL=kenstyle.css.map */